<?xml version='1.0' standalone='yes'?>
<menu>
 <tab>
  <id>index</id>
  <title>HOME</title>
  <url>?dashboard=index</url>
 </tab>
 <tab>
  <id>map</id>
  <title>MAPPA</title>
  <url>?dashboard=map</url>
 </tab>
 <tab>
  <id>last_tracking</id>
  <title>ULTIMI TRACCIAMENTI</title>
  <url>?dashboard=last_tracking</url>
 </tab>
</menu>