<?xml version='1.0' standalone='yes'?>
<menu>
 <tab>
  <id>index</id>
  <title>HOME</title>
  <url>?dashboard=index</url>
 </tab>
 <tab>
  <id>map</id>
  <title>MAPPA (OSM)</title>
  <url>?dashboard=omap</url>
 </tab>
 <tab>
  <id>map</id>
  <title>MAPPA (Google)</title>
  <url>?dashboard=gmap</url>
 </tab>
 <tab>
  <id>last_tracking</id>
  <title>TRACCIAMENTI</title>
  <url>?dashboard=last_tracking</url>
 </tab>
  <tab>
  <id>last_position</id>
  <title>DISPOSITIVI</title>
  <url>?dashboard=last_position</url>
 </tab>
</menu>